<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %level [%logger.%M:%line] %msg%n
			</pattern>
		</layout>
	</appender>

	<!--
	<appender name="SYSLOG"
		class="net.logstash.logback.appender.LogstashSocketAppender">
		<host>10.1.15.207</host>
		<port>6000</port>
	</appender>

	<appender name="TCP"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>10.1.15.207:5000</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<appender name="TCP2"
		class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
		<destination>10.1.15.207:5000</destination>
		<encoder class="net.logstash.logback.encoder.LogstashAccessEncoder" />
	</appender>
	-->

	<appender name="TCP_DEFAULT"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>10.1.15.207:5000</destination>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />
				<threadName />
				<message />
				<logstashMarkers /> <!-- Useful so we can add extra information for specific log lines as Markers -->
				<arguments /> <!--or through StructuredArguments -->
				<stackTrace />
			</providers>
		</encoder>
	</appender>
	
	<appender name="TCP_GROK_DEFAULT"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>10.1.15.207:5010</destination>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />
				<threadName />
				<message />
				<logstashMarkers /> <!-- Useful so we can add extra information for specific log lines as Markers -->
				<arguments /> <!--or through StructuredArguments -->
				<stackTrace />
			</providers>
		</encoder>
	</appender>
	

	<appender name="SYSLOG_DEFAULT"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>10.1.15.207:6000</destination>

		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />
				<threadName />
				<message />
				<logstashMarkers /> <!-- Useful so we can add extra information for specific log lines as Markers -->
				<arguments /> <!--or through StructuredArguments -->

				<stackTrace />
			</providers>
		</encoder>
	</appender>


	<logger name="fr.erdprt.logs.LogJSONGenerator" level="INFO">
		<!-- GOOD
		<appender-ref ref="TCP" />
		<appender-ref ref="TCP_DEFAULT" />
		 -->
		 <appender-ref ref="TCP_DEFAULT" />
		<appender-ref ref="SYSLOG_DEFAULT" />
	</logger>

	<logger name="fr.erdprt.logs.LogFlatGenerator" level="INFO">
		 <appender-ref ref="TCP_GROK_DEFAULT" />
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>